body {
  background-color: lightblue;
}
h1 {
  font-family: Arial;
}
.informacion ul a {
  color: white;
  font-size: 18px;
}
.informacion {
  box-shadow: 0px 0xp 10px black;
  text-shadow: 0px 0px 5px black;
}
h1 {
  font-size: 37px;
}
h1 {
  color: blue;
  color: black;
}
.informacion {
  height: 450px;
  height: 900px;
  height: 1350px;
  height: 1800px;
  height: 2250px;
}
